@media #{$desktop-large},
#{$desktop},
#{$tablet},
#{$phone} {
	// body {
	// 	color: $text-color;
	// 	font-family: $font-family-base;
	// }

	// h1, h2, h3, h4, h5, h6 {
	// 	font-weight: $font-fat;
	// }

	// a {
	// 	@include link( $text-color, $brand-primary );
	// }

	// #map {
	// 	height: 400px;
	// 	width: 100%;
	// }

	// .fancybox-skin {
	// 	margin: 40px;
	// }
	//-----------------------------------------------------------------------------------

	/*
	* Globals
	*/


	/* Custom default button */
	.btn-secondary,
	.btn-secondary:hover,
	.btn-secondary:focus {
		color: #333;
		text-shadow: none; /* Prevent inheritance from `body` */
	}


	/*
	* Base structure
	*/

	body {
		/* background-color: #212529; */
		text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
		box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
	}

	.cover-container {
		max-width: 42em;
	}


	/*
	* Header
	*/

	.nav-masthead .nav-link {
		padding: .25rem 0;
		font-weight: 700;
		color: rgba(255, 255, 255, .5);
		background-color: transparent;
		border-bottom: .25rem solid transparent;
	}

	/* .nav-masthead .nav-link:focus */
	.nav-masthead .nav-link:hover:not(.nav-icons) {
	border-bottom-color: rgba(255, 255, 255, .25);
	}

	#text-name-nav{
		display: contents;
	}

	#img-logo-nv{
		width: 5%;
	}

	.nav-icons{
		a{
			color: white;
		}
	}

	.nav-icons > :not(span){
		cursor: pointer;
	}

	.nav-icons:hover > :not(span){
		color: rgba(255,255,255,.25);
	}

	.nav-masthead .nav-link + .nav-link {
		margin-left: 1rem;
	}

	.nav-masthead .active {
		color: #fff;
		border-bottom-color: #fff;
	}

	.m-bottom-nav{
		margin-bottom: 4rem;
	}

	.m-top-footer{
		margin-top: 10rem;
	}

	#imgtech {
		position: absolute;
		right: 30px;
		top: 240px;
		width: 28%;
		z-index: -1;
		opacity: .1;
	}

	#imgtech2 {
		position: absolute;
		left: 104px;
		top: 89px;
		width: 34%;
		z-index: -1;
		opacity: .1;
	}

	.aboutUseContainer{
		height: 70vh;
	}

	.circular--square {
		width: 50%;
		border-top-left-radius: 50% 50%;
		border-top-right-radius: 50% 50%;
		border-bottom-right-radius: 50% 50%;
		border-bottom-left-radius: 50% 50%;
	}

	.image-cropper {
		width: 230px;
		height: 230px;
		position: relative;
		overflow: hidden;
		border-radius: 50%;
	}

	.profile-pic {
		display: inline;
		margin: 0 auto;
		margin-left: -25%; 
		height: 100%;
		width: auto;
	}

	#img-about-me{
		position: absolute;
		top: -20px;
		width: 86%;
		z-index: -1;
		left: -146px;
		opacity: .3;
	}

	#perfil2{
		width:320px;
	}

	#contact-list{
		list-style: none;
		font-size: 20px;

		li{
			a{
				text-decoration: auto;
				color: white;
				&:hover{
					 color: rgba(255,255,255,.5);
					 text-decoration: underline;
				}
			}
		}
	}

	#download-cv{
		a{
			text-decoration: auto;
			color: white;
			&:hover{
				 color: rgba(255,255,255,.5);
				 text-decoration: underline;
			}
		}
	}

	#image-download-cv{
		width: 19%;
		opacity: 0.8;
	}

	.up{
		cursor: pointer;
	}

	// carousel

	.card{
		-webkit-box-shadow: 0px 12px 20px -4px rgba(136,137,138,0.66);
		-moz-box-shadow: 0px 12px 20px -4px rgba(136,137,138,0.66);
		box-shadow: 0px 12px 20px -4px rgba(136,137,138,0.66);
	}

	.card-text-portafolio{
		color: rgba(0,0,0,0.85);
		text-shadow: none;
		text-align: justify;
	}

	.card-img-top{
		height: 230px;
	}

	.card-body{
		height: 260px;
		h1, h2, h3, h4, h5, h6{
			color: rgba(0,0,0,0.85);
			text-shadow: none;
		}

		hr{
			background: black;
		}
	}

	.card-footer {
		color: rgba(0,0,0,0.85);
		text-shadow: none;
		text-decoration: none;

		a{
			color: rgba(0,0,0,0.85);
			text-shadow: none;
			text-decoration: none;

			&:hover{
				//  color: rgba(255,255,255,.5);
				 text-decoration: underline;
			}
		}
	}

}

@media #{$phone}{

	#text-name-nav{
		display: block;
	}

	#imgtech {
		position: absolute;
		right: 30px;
		top: 420px;
		width: 74%;
		z-index: -1;
		opacity: .1;
	}

	#imgtech2 {
		position: absolute;
		left: 25px;
		top: 100px;
		width: 68%;
		z-index: -1;
		opacity: .1;
	}

	#img-about-me {
		position: absolute;
		bottom: -18px;
		width: 86%;
		z-index: -1;
		left: 27px;
		opacity: .3;
		top: unset;
	}

	// #img-datos{
	// 	visibility: hidden;
	// }

	.m-bottom-nav {
		margin-bottom: 1rem;
	}

	#perfil2{
		width:280px;
	}

	.nav-icons{
		display: none;
	}
}